// 
// This file defines the base configuration for a Debug build of any project.
// This should be set at the project level for the Debug configuration.
//

#include "../Common.xcconfig"

//---------------------------------------------------------------------------//
// ### ARCHITECTURES ########################################################
//---------------------------------------------------------------------------//

// Whether to only build the active architecture
ONLY_ACTIVE_ARCH = YES

//---------------------------------------------------------------------------//
// ### BUILD OPTIONS ########################################################
//---------------------------------------------------------------------------//

// The format of debugging symbols
DEBUG_INFORMATION_FORMAT = dwarf

//---------------------------------------------------------------------------//
// ### CODE SIGNING #########################################################
//---------------------------------------------------------------------------//

// Disable Developer ID timestamping
OTHER_CODE_SIGN_FLAGS = --timestamp=none

//---------------------------------------------------------------------------//
// ### DEPLOYMENT ###########################################################
//---------------------------------------------------------------------------//

// Whether to strip debugging symbols when copying resources (like included
// binaries)
COPY_PHASE_STRIP = NO

// Whether to strip debugging symbols when copying the built product to its
// final installation location
STRIP_INSTALLED_PRODUCT = NO

//---------------------------------------------------------------------------//
// ### CODE GENERATION ######################################################
//---------------------------------------------------------------------------//

// Whether to enable link-time optimizations (such as inlining across translation
// units)
LLVM_LTO = NO

// The optimization level (0, 1, 2, 3, s) for the produced binary
GCC_OPTIMIZATION_LEVEL = 0

//---------------------------------------------------------------------------//
// ### LANGUAGE #############################################################
//---------------------------------------------------------------------------//

// Other compiler flags
//
// These settings catch some errors in integer arithmetic and some instances of
// undefined behavior
OTHER_CFLAGS = -ftrapv

//---------------------------------------------------------------------------//
// ### PREPROCESSING ########################################################
//---------------------------------------------------------------------------//

// Preproccessor definitions to apply to each file compiled
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1

//---------------------------------------------------------------------------//
// ### SWIFT ################################################################
//---------------------------------------------------------------------------//

// The optimization level (-Onone, -O, -Osize) for the produced Swift binary
SWIFT_OPTIMIZATION_LEVEL = -Onone

// This enables conditional compilation with #if DEBUG
OTHER_SWIFT_FLAGS = -D DEBUG

// Xcode 8 introduced a new flag for conditional compilation
//
// This enables conditional compilation with #if DEBUG
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
