//
// This file defines additional configuration options that are appropriate only
// for a dynamic library. This should be set at the target level for each
// project configuration.
//

// Import base Dynamic Library settings
#include "../Base/Targets/DynamicLibrary.xcconfig"

// Import common settings specific to iOS
#include "iOS-Base.xcconfig"
